fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
pgvector
agno
groq
python-multipart
pypdf
python-docx
pydantic
pydantic-settings
sqlmodel

# Agno tool dependencies
ddgs
yfinance
wikipedia
arxiv
newspaper4k
youtube-transcript-api
lxml_html_clean